<h1> Catagory edit page </h1>

<% if current_user.role = 'admin' %>
	<%= form_for [:admin, @catagory] do |f| %>
		<div class="form-group">
			<%= f.label :name, "Catagory name" %>
			<%= f.text_field :name, class: "form-control" %>
		</div>

		<%= f.submit class: "actions btn btn-primary" %>
	<% end %>
<% end %>